<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BookStore App</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <a href="/">
      <h3>BookStore App</h3>
    </a>
    <nav>
      <a href="/">Home</a>
    </nav>
  </header>

  <h1 id="store-name">Store App</h1>

  <div id="books"></div>

  <script src="/js/store.js"></script>
</body>

</html>