* {
  margin: 0;
  padding: 0;
}

header {
  background: #777;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 7px 4%;
}

header a {
  color: #fff;
}

.main-header, #store-name {
  text-align: center;
  margin: 15px 0;
}

.stores, #books {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
}

.stores > *, #books > * {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}